<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>OZO</title>
    <link rel="stylesheet" type="text/css" href="css/style.css" />
    @RenderSection("styles", required:false)  
  </head>
  <body>
      @RenderBody()
    <header>
      <div class="main">
        <div class="logo"><img src="./logo.png" alt="missing logo" /></div>
       <vc:navigation></vc:navigation>
        
        <div class="title">
          <h1>Organi Za Organiziranje</h1>
        </div>
        <div class="button">
          <a href="#" class="btn">Napravi raÄun</a>
          <a href="#" class="btn">Prijavi se</a>
        </div>
      </div>
    </header>
  </body>
</html>
