<ul class="navbar-nav">
    <li class="nav-item">
        <a class="nav-link"asp-action="Index" asp-controller="Home">Početna stranica</a>
    </li>
     <li class="nav-item">
        <a class="nav-link"asp-action="Index" asp-controller="Home">Natječaji</a>
    </li>
     <li class="nav-item">
        <a class="nav-link"asp-action="Index" asp-controller="Home">Usluge</a>
    </li>
     <li class="nav-item">
        <a class="nav-link"asp-action="Index" asp-controller="Home">O nama</a>
    </li>
</ul>